
@font-face {
  font-family: 'yekanWeb';
  src: url('yekanWeb.eot'); /* IE9 Compat Modes */
  src: url('yekanWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('yekanWeb.woff') format('woff2'), /* Super Modern Browsers */
       url('yekanWeb.woff') format('woff'), /* Pretty Modern Browsers */
       url('yekanWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('yekanWeb.svg#svgFontName') format('svg'); /* Legacy iOS */
}
